<section class="portfolio-body text-center pb-5">
    <div class="header">
        <h2 class="fs-1 fw-bolder mt-5">PORTFOLIO COMPONENT</h2>
        <div class="caption">
            <div></div>
            <i class="fas fa-star mx-3"></i>
            <div></div>
        </div>
    </div>

    <div class="container">
        <div class="row">
            <div class="col-md-4 gx-5 gy-4">
                <div class="portfolio-item">
                    <figure>
                        <img src="assets/port1.png" class="w-100 rounded" alt="port1">
                    </figure>
                    <div class="portfolio-item-layer rounded" data-bs-toggle="modal" data-bs-target="#Img1">
                        <i class="fab fa-plus text-white"></i>
                    </div>
                </div>
            </div>
            <div class="col-md-4 gx-5 gy-4">
                <div class="portfolio-item">
                    <figure>
                        <img src="assets/port2.png" class="w-100 rounded" alt="port2">
                    </figure>
                    <div class="portfolio-item-layer rounded" data-bs-toggle="modal" data-bs-target="#Img2">
                        <i class="fab fa-plus text-white"></i>
                    </div>
                </div>
            </div>
            <div class="col-md-4 gx-5 gy-4">
                <div class="portfolio-item">
                    <figure>
                        <img src="assets/port3.png" class="w-100 rounded" alt="port3">
                    </figure>
                    <div class="portfolio-item-layer rounded" data-bs-toggle="modal" data-bs-target="#Img3">
                        <i class="fab fa-plus text-white"></i>
                    </div>
                </div>
            </div>
            <div class="col-md-4 gx-5 gy-4">
                <div class="portfolio-item">
                    <figure>
                        <img src="assets/port1.png" class="w-100 rounded" alt="port1">
                    </figure>
                    <div class="portfolio-item-layer rounded" data-bs-toggle="modal" data-bs-target="#Img1">
                        <i class="fab fa-plus text-white"></i>
                    </div>
                </div>
            </div>
            <div class="col-md-4 gx-5 gy-4">
                <div class="portfolio-item">
                    <figure>
                        <img src="assets/port2.png" class="w-100 rounded" alt="port2">
                    </figure>
                    <div class="portfolio-item-layer rounded" data-bs-toggle="modal" data-bs-target="#Img2">
                        <i class="fab fa-plus text-white"></i>
                    </div>
                </div>
            </div>
            <div class="col-md-4 gx-5 gy-4">
                <div class="portfolio-item">
                    <figure>
                        <img src="assets/port3.png" class="w-100 rounded" alt="port3">
                    </figure>
                    <div class="portfolio-item-layer rounded" data-bs-toggle="modal" data-bs-target="#Img3">
                        <i class="fab fa-plus text-white"></i>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<!----------------------------------------- Models ----------------------------------------->
<div class="modal fade" id="Img1" tabindex="-1" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-body">
                <figure>
                    <img src="assets/port1.png" class="w-100 rounded" alt="port1">
                </figure>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="Img2" tabindex="-1" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-body">
                <figure>
                    <img src="assets/port2.png" class="w-100 rounded" alt="port2">
                </figure>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="Img3" tabindex="-1" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-body">
                <figure>
                    <img src="assets/port3.png" class="w-100 rounded" alt="port3">
                </figure>
            </div>
        </div>
    </div>
</div>