h2 {
    color: var(--second-color);
}

.portfolio-item {
    position: relative;
}

.portfolio-item-layer {
    background-color: var(--main-color);
    position: absolute;
    top: 0%;
    bottom: 0;
    left: 0;
    right: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 0;
    cursor: pointer;
    transition: opacity .5s;
}

.portfolio-item-layer i {
    font-size: 80px;
}

.portfolio-item:hover .portfolio-item-layer {
    opacity: 1;
}

.modal-content {
    background-color: transparent;
    border: none;
}